/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif
}

#content {
    width: 100%;
    margin: auto;
}

#main-header,  
#main-footer {
    background: rgb(194, 220, 231);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#main-content {
    background-color: rgb(236, 205, 243);
}

.content-section {
    background: rgb(61, 81, 101);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.column {
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

.col1of3,
.col1of2 {
    background-color: rgb(236, 205, 243);

}

.col2of3,
.col1of3 {
    background-color:rgb(85, 85, 157);

}
.col1of4,
.col2of4,
.col3of4 {
    background-color:rgb(85, 85, 157);
}


/* Main Navigation */
#main-nav ul {
   padding: 0px;

}

#main-nav li {
    list-style-type: none; 
    padding: 5px;
    background-color: rgb(236, 205, 243);
    border: 1px solid black;
}

#main-nav a {
    padding: 5px;
    color: black;
    border-radius: 2px;
    display: block;
}

#main-nav a:hover {
    color: rgb(85, 85, 157);
}


/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    padding: 0px;
    margin: 0px;
}

#main-header h1 {
    text-align: center;
}

img.idea {
    width: 200px;
    height: 200px;
}	

img.title-img {
    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 2%;
}	


.title-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.title-element {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 25%;
    text-align: center;
}

.idea-block {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.idea-element {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

#main-content h2 {
    color: black;
}

h3 {
   margin: 0px;
}

#main-footer p {
    text-align: center;
}

#main-nav li {
    text-align: center;
}

#header {
    padding: 0px;
    spacing: 0px; 
}

.flexbottom {
   background-color: LightSlateGray;
   color: white;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul,
    .flex-container {
        display:flex;
    }

    #main-nav li,
    .col1of2,
    .col1of3,
    .col1of4,
    .col2of4 {
        flex: 1;
    }

    .col2of3,
    .col3of4 {
        flex: 2;
    }

    .col1of4main {
        flex: 1;
        border: 1px solid black;
        padding-left: 1%;

}

.col3of4main {
    flex: 3;
    border: 1px solid black;
    padding-left: 1%;
}
}