/* Structure */
body {
    background: #FFF5EE;
    font-family: Arial, Helvetica, sans-serif;
}

#main_page {
    background: #B0E0E6;
    width: 50%
    margin: auto;
    padding: 20px;
    boarder-radius: 10px;

}

/* Navigation */
#main-nav a {
    text-decoration: none;
    background: #DCDCDC;
    color: #4B0082;
    padding: 2px;
    border-radius: 4px;
}

#main-nav a :hover {
    background: #A9A9A9; 
}


/* Images */

/* Tables */

/* Typography */
h1 {
    color: #4B0082; 
}

h2 {
    color: #4B0082;
}
