/* Structure */
body {
    margin: auto;
}

a {
    color: black;
}

a:hover {
    color: crimson;
}

section {
    text-align: center;
}

.main-house-section {
    display: inline-block;
    width: 80%;
    padding: 0;
    padding-bottom: 20px;
}

.house-info {
    display: flex;
    flex-direction: row;
    text-align: left;    
    padding: 0px;
    background-color:darkslategray;
    color: white;
}

.house-heading {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 0;
    color: darkslategray;
}

h3 {
    font-size: 1.2em;
    color: darkslategray;
    text-align: center;
}

.photo-house {
    width: 400px;
    border: 0;
    margin: 0;
    padding: 0;
    padding-right: 10px;    
}

.floor-plans-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.floor-plans {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.img-floor-plans {
    width: 100%;
}

main {
    background-color: antiquewhite;
    padding-bottom: 10px;
}

#main-header {
    background-color: rgb(100, 23, 23);
    color: white;
    padding-bottom: 0px;
}

#main-content {
    background-color: antiquewhite;
    padding: 5px;
    margin: auto;
    text-align: center;
}

#main-footer {
    background-color: darkslategrey;
    color: white;
    padding: 5px;
}

#main-footer p {
    text-align: center;
}


/* Navigation */


/* Typopgraphy */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#main-content {
    margin-left: 5px;
}

#main-content h2,
h4 {
    text-align: center;
    padding-bottom: none;
    margin: auto;
    margin-bottom: none;
}

/* Larger Resolutions */
@media (min-width: 900px) {

    #main-content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    section {
        text-align: center;
        margin: auto;
        vertical-align: top;

    }

    .floor-plans {
        width: 48%;
        padding-top: 20px;
        text-align: center;
    }
        
    .info-card {
        display: flex;        
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;        
        text-align: left;    
        
    }    
}