/* Structure */
body {
    background: #ffffff;
    font-family: "Berlingske Sans", "Arial", sans-serif;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    font-size: 1em;
    overflow-x: hidden;
    margin-bottom: 0px;
    line-height: 1.4;
    margin: auto;
    color: #222;
}

.black-bar {
    background-color: black;
}

.header-top {
    display: flex;
    margin-top: 15px;
}

.logo-top {
    margin-left: 15px;
    padding-right: 15px;
}

.header-top {
    align-items: stretch;
}

/* This keeps the space on the left and right clear so the page fits in the middle */
.header-container:before,
.header-container:after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: inherit;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
}

.header-container:after {
    right: auto;
    left: 100%;
}

.sidebar-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    border-top: 1px solid gray;
    float: left;
    display: inline;
    width: 255px;
}

.sidebar-menu-item {
    text-align: left;
    border-top: 1px solid gray;
    padding-bottom: 15px;
    margin-left: 15px;
    padding-left: 0px;
}

.sidebar-menu-item li {
    font-weight: 800;
    font-size: 1.125em;
    line-height: 1.4em;
    text-align: left;
    padding-bottom: 15px;
    border-top: 1px solid gray;
}

.sidebar-menu-item-selected {
    font-weight: 800;
    font-size: 1.125em;
    line-height: 1.4em;
    color: black;
    text-align: left;
    border-top: 1px solid gray;
    border-left: 2px solid gray;
}

.sidebar-menu-item-selected-2 {
    font-weight: 800;
    font-size: 0.875em;
    line-height: 1.4em;
    color: black;
    text-align: left;
    border-top: 1px solid gray;
    border-left: 2px solid gray;
}

.sidebar-submenu-item li {    
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.4em;
}

.header-top ul,
li {
    list-style-image: none;
    line-height: .625rem;
    font-weight: 500;
    font-size: 10px;
    margin-right: 15px;
    color: white;
    text-align: right;
    display: flex;
}

li {
    list-style-type: none;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    font-size: .625rem;
    padding: .75em 0;
    position: absolute;
    top: 0;
    right: -15px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

.header-menu-item {
    position: relative;
    color: white;
    margin-left: .5rem;
}

.header-top a {
    color: white;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #CC2E40;
    color: white;
    text-decoration: none;
}

.college-title-link {
    background-color: #73000a;
    float: right;
    width: 100%;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 0px;
    font-weight: 700;
    margin-left: 15px;
    font-family: 'Berlingske Serif', 'Georgia', serif;
    font-size: 1.6em;
    position: relative;
    margin-bottom: 1em;
}

/* This keeps the space on the left and right clear so the page fits in the middle */
.college-title-link:before,
.college-title-link:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
}

.college-title-link:after {
    right: auto;
    left: 100%;
}

.college-title-link a {
    color: white;
}

/* Tables */

/* Images */
.header-usc-logo-link,
.footer-usc-logo-link {
    width: 250px;
    height: 53px;
    display: inline-block;
    background: url(https://place-hold.it/250x53&text=USC-Logo/lightgray) no-repeat;
    order: 1;
}

.main-content-image-1 {
    width: 820px;
    height: 350px;
    display: inline-block;
    background: url(https://place-hold.it/825x350/gray) no-repeat;
}

.main-content-image-2,
.main-content-image-3,
.main-content-image-4,
.main-content-image-5,
.main-content-image-6 {
    width: 124px;
    height: 124px;
    display: inline-block;
    background: url(https://place-hold.it/124x124/gray) no-repeat;
}

.footer-social-facebook,
.footer-social-instagram,
.footer-social-twitter {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url(https://place-hold.it/35x35/gray/white) no repeat;
}


/* Typography */

/* These are the typefaces needed to reproduce this page. These are linked directly to the ones on the USC site */
@font-face {
    font-family: 'Berlingske Sans';
    src: url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff2') format('woff2'),
        url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Sans';
    src: url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff2') format('woff2'),
        url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Sans Extracondensed';
    src: url('https://sc.edu/_global_resources/fonts/BerlingskeSansXCn-XBd.woff2') format('woff2'),
        url('https://sc.edu/_global_resources/fonts/BerlingskeSansXCn-XBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Serif';
    src: url('https://sc.edu/_global_resources/fonts/BerlingskeSerif-Bd.woff2') format('woff2'),
        url('https://sc.edu/_global_resources/fonts/BerlingskeSerif-Bd.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}


/* Larger Resolutions */
@media (min-width: 851px) {
    .header-container {
        display: flex;
        width: 1150px;
        margin: auto;
        padding-left: 15px;
        flex-flow: row wrap;
        align-items: stretch;
        background-color: #000;
        color: white;
    }

    .sub-header-container {
        display: flex;
        width: 1150px;
        margin: auto;
        padding-left: 32px;
        height: 38px;
        flex-flow: row wrap;
        align-items: stretch;
        background-color: #73000a;
        color: white;
    }

    .main-container {
        display: flex;
        width: 1150px;
        margin: auto;
        flex-flow: row wrap;
        align-items: stretch;
        color: #000;
        background-color: white;
    }

    .search-box {
        width: 212px;
        height: 28px;
        font-weight: bold;
        padding-left: 6px;
        padding-bottom: 0px;
        border: 1px solid white;
        background: black;
        font-size: 1.125rem;
        text-align: justify;
        text-justify: inter-word;
        color: grey;
        position: relative;
        right: calc(100% / 4);
        top: 2em;
    }
}

@media (max-width: 850px) {
    .header-container {
        display: flex;
        width: 850px;
        margin: auto;
        flex-flow: row wrap;
        align-items: stretch;
        background-color: #000;
        color: white;
    }

    .main-container {
        display: flex;
        width: 850px;
        margin: auto;
        flex-flow: row wrap;
        align-items: stretch;
        color: #000;
        background-color: white;
    }

    .search-box {
        width: 212px;
        height: 28px;
        font-weight: bold;
        padding-left: 6px;
        padding-bottom: 0px;
        border: 1px solid white;
        background: black;
        font-size: 1.125rem;
        text-align: justify;
        text-justify: inter-word;
        color: grey;
        position: relative;
        right: calc(100% / 4);
        top: 2em;
    }
}

/* Smaller Resolutions */

@media (max-width: 849px) {
    .header-container {
        display: flex;
        width: 732px;
        margin: auto;
        flex-flow: row wrap;
        align-items: stretch;
        background-color: #000;
        color: white;
    }

    .main-container {
        display: flex;
        width: 732px;
        margin: auto;
        flex-flow: row wrap;
        align-items: stretch;
        color: #000;
        background-color: white;
    }

    .search-box {
        display: hidden;
    }

    .header-menu {
        display: none;
    }

    .header-menu-item {
        display: none;
    }
}