/* Structure */
body {
    background: #ffffff;
    font-family: Berlingske Sans;
}

#header-list-1, 
#header-list-2,
#main-list,
#main-list-2,
#main-list-3,
#footer-list-1,
#footer-list-2,
#footer-list-3,
#footer-list-4,
#footer-list-5 {
    list-style-type: none;
}


#header-usc-text {
    color: white;
}

#search {
    color: white;
}

#gate {
    color: white;
    margin: auto;
}

#header-link {
    color: white;
}

#banner-red {
    color: white;
}

#banner-top-div {
    background-color: #000000;
}

#banner-red {
    background-color: #73000a;
}

#header-link {
    display:inline-block;
    margin: auto;
    justify-content: end;
    justify-content: space-between;
}

#bottom-banner-div {
    width: 984px;
    height: 445px;
}

#foot {
    color: white;
}

#footer-bottom-div {
    background-color: black;
    display: row;
    align-items: flex-start;
}





/* Navigation */
#header-1-nav {
    padding-left: 0;
    text-align: right;
}

#give-now {
    text-decoration: none;
}
.nav a {
    text-decoration: none;
}
#main-nav {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#header-1-nav a :hover {
    background: #CC2E40; 
}

#header-2-nav a :hover {
    background: #CC2E40;
}

#main-left-nav a :hover {
    background: #CC2E40;
}

#footer-middle-CS-nav a :hover {
    background: #CC2E40;
}

#footer-middle-OD-nav a :hover {
    background: #CC2E40;
}


#footer-middle-T-nav a :hover {
    background: #CC2E40;
}

#footer-bottom-nav a :hover{
    background: #CC2E40;
}

#main-nav {
    text-align: center;
    align-items: center;
    display: flex;
}






/* Images */
.header-usc-logo-link,
.footer-usc-logo-link {
    width: 250px;
    height: 53px;
    display: inline-block;
    background: url(https://place-hold.it/250x53&text=USC-Logo) no-repeat;
}

.main-content-image-1 {
    width: 820px;
    height: 350px;
    display: inline-block;
    background: url(https://place-hold.it/825x350/gray) no-repeat;
}

.main-content-image-2,
.main-content-image-3,
.main-content-image-4,
.main-content-image-5,
.main-content-image-6 {
    width: 124px;
    height: 124px;
    display: inline-block;
    background: url(https://place-hold.it/124x124/gray) no-repeat;
}

.footer-social-facebook,
.footer-social-instagram,
.footer-social-twitter {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url(https://place-hold.it/35x35/gray/white) no repeat;
}



/* Tables */


/* Typography */
h1 {
    color: #000000; 
}

h2 {
    color: #000000;
}


/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }

    #banner-top-links {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    #footer-links-div {
        display: flex;
        width: 990px;
        height: 255px;
        flex-direction: row;
    }


    #CS-div {
        width: 480px;
        height: 235px;
        background: #73000a;
        flex: 1;
        color: white;
    }
    
    #CS-col1 {
        display: flex;
        width: 120px;
        height: 192px;
        display: inline-block;
        align-items: flex-start;  
        margin: 0px;
        float: inline-start;
    }
    
    #CS-col2 {
        display: flex;
        width: 120px;
        height: 192px;
        display: inline-block;
        align-items: flex-start;
        float: inline-start;  

    
    }
    
    #CS-col3 {
        display: flex;
        width: 150px;
        height: 192px;
        display: inline-block;
        align-items: flex-start;
        float: inline-start;  

    }

    #OD-div {
        width: 290px;
        height: 255px;
        background: #73000a;
        color: white;
    }
    
    #OD-col1 {
        display: flex;
        width: 130px;
        height: 207px;
        display: block;
        align-items: flex-start;
        float: inline-start;  
    }
    
    #OD-col2 {
        display: flex;
        width: 130px;
        height: 207px;
        display: block;
        align-items: flex-start;
        float: inline-start;      
    }

    #T-div {
        display: flex;
        width: 130px;
        height: 207px;
        display: inline-block;
        align-items: flex-start;
        background: #73000a;
        float: inline-start; 
        color: white; 
    }

    #footer-bottom-div {
        display: flex;
        background-color: black;
        width: 984px;
        height: 43px;
        align-items: flex-start;
        margin:0 15px 0 15px; 
        float:left; 
        display:inline;
    }


    

}


