/* Structure */
body {
    background: #ffffff;
    font-family: Berlingske Sans;
}

#header-list-1, 
#header-list-2,
#main-list,
#main-list-2,
#main-list-3,
#footer-list-1,
#footer-list-2,
#footer-list-3,
#footer-list-4,
#footer-list-5 {
    list-style-type: none;
}



/* Navigation */
#header-1-nav ul {
    padding-left: 0;
    text-align: right;
}

#give-now {
    text-decoration: none;
}
.nav a {
    text-decoration: none;
}
#main-nav {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#main-nav a :hover {
    background: #de4141; 
}

#main-nav {
    text-align: center;
    align-items: center;
    display: flex;
}



/* Images */
.header-usc-logo-link,
.footer-usc-logo-link {
    width: 250px;
    height: 53px;
    display: inline-block;
    background: url(https://place-hold.it/250x53&text=USC-Logo) no-repeat;
}

.main-content-image-1 {
    width: 820px;
    height: 350px;
    display: inline-block;
    background: url(https://place-hold.it/825x350/gray) no-repeat;
}

.main-content-image-2,
.main-content-image-3,
.main-content-image-4,
.main-content-image-5,
.main-content-image-6 {
    width: 124px;
    height: 124px;
    display: inline-block;
    background: url(https://place-hold.it/124x124/gray) no-repeat;
}

.footer-social-facebook,
.footer-social-instagram,
.footer-social-twitter {
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url(https://place-hold.it/35x35/gray/white) no repeat;
}


/* Tables */

/* Typography */
h1 {
    color: #000000; 
}

h2 {
    color: #000000;
}


/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
}
