/* Structure */
body {
    background: #AFEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background: #FFFAFA;
    width: 50%
    margin: auto;
    padding: 10px;
    boarder-radius: 10px;

}


/* Navigation */
#main-nav a {
    text-decoration: none;
    background: #F0F8FF;
    color: #1E90FF;
    padding: 2px;
    border-radius: 4px;
}

#main-nav a:hover {
    background: #A9A9A9; 
}

/* Images */
img {
    padding: 5px;
    border: 3px solid #000000; 
    border-radium: 3px;
}

/* Tables */
table{
    border-collapse: collapse;
}
th, 
td {
    border: 1px solid #000000;
    padding: 4px
}

th{
    background: #5F9EA0;
}

td {
    background: #AFEEEE;
}


/* Typography */
h1 {
    color: #000000; 
}

h2 {
    color: #000000;
}

#ratings {
    font-style: italic;
}

strong {
    color: #4B0082; 
}
#test_2 {
    font-size: 15px;
}
.test {
    font-size: 20px;
}